<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>

    <link href=<%-`/build/${assets.main.css}`-%> rel="stylesheet" >

    <script type="text/javascript">window.initialData = <%-JSON.stringify(preloadedState).replace(
      /</g,
      '\\u003c'
    )-%></script>
  </head>
  <body>
    <div id="root"><%-initialMarkup-%></div>
    <script src=<%-`/build/${assets.vendor.js}`-%>></script>
    <script src=<%-`/build/${assets.main.js}`-%>></script>
  </body>
</html>
